

body {
    margin:center;
    background-image: linear-gradient(rgba(234, 231, 236, 0.863),rgba(250, 247, 252, 0.945) );  /*BACKGROUND COLOR GRADIANT*/
    font-family: 'Lora', serif;
    font-size:larger;
    color: rgb(10, 10, 10)
}

h1 { 
  /*border: 2px rgb(188, 189, 188) inset;  /*add border to section headers*/
  background-color: rgb(152, 14, 243);
  padding: 1px;
  border-radius: 50px;
    color: rgb(29, 28, 28);  /*font color*/
    font-size: 30px; /*font size*/
    text-align: center; /*Center the text*/
    font-family: Arial, Helvetica, sans-serif; /*font style in prefered order*/
}

h2 {  /*Header 2 formating*/
    font-size: 20px;
    color: rgb(10, 1, 1);
    text-align: center;
}

h3 {
    font-size: large;
    color:rgb(10, 10, 10);
    text-align: auto;

}

.finacialInterval {
    font-size: large;
    color:rgb(10, 10, 10);
    text-align: auto;
}

.section-header{
    border: 2px rgb(12, 12, 12) inset;  /*add border to section headers*/
    background-color: rgb(33, 230, 50);
    padding: 15px;
    border-radius: 100px;
}

.sectionheaderSpend{
    border: 2px rgb(0, 0, 0) inset;  /*add border to section headers*/
    background-color: rgb(250, 61, 61);
    padding: 15px;
    border-radius: 100px;
}

.sections{
    border: 2px rgb(247, 173, 234) inset;  /*add border to section headers*/
    border-radius: 25px;
    background-color: rgba(255, 255, 240, 0.534);
    padding: 5px;
    text-align: center;
}

.form-text{
    font-size: 30px;
    border-image: fill;
    border:2px rgb(255, 0, 212) inset;
    border-radius: 25px;
    background-color: rgba(255, 255, 240, 0.534);
}

.center{
    width: 80%;  /*WIDTH OF ELEMENTS ON THE PAGE */

}


.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #6bfa6b; /* Green background */
    outline: none; /* Remove outline */
    opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */


  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('dollar.png');
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('dollar.png');
    cursor: pointer;
  }







  /* The SPEND slider itself */
.sliderSpend {
-webkit-appearance: none;  /* Override default CSS styles */
appearance: none;
width: 100%; /* Full-width */
height: 25px; /* Specified height */
background: #fd2e2ed0; /* Green background */
outline: none; /* Remove outline */
opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
}

  /* Mouse-over effects */
.sliderSpend:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.sliderSpend::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('icon.png');
    cursor: pointer;
  }
  
  .sliderSpend::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('icon.png');
    cursor: pointer;
  }



  .piechart {
    display: flex;
    justify-content: center;
    align-items: auto;
}